/* geral */
html {
    color: #fff;
}

a {
    transition: .5s;
}

/* sidebar */
#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #c451f1;
    padding-top: 40px;
}

#sidebar h1 {
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

#sidebar a:hover {
    color: #300044;
}

#sidebar li {
    padding: 20px;
}

.sidebar-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.logo-doceria {
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* conteúdo */
